{% extends "base.html" %}

{% block content %}
<form class="was-validated" method='post' action='/editprofile' enctype='multipart/form-data'>
  <div class="mb-3">
    <label for="validationTextarea" class="form-label">Textarea</label>
    <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Bio" required name="bio"></textarea>
    <div class="invalid-feedback">
      Bio
    </div>
  </div>
  <div class="mb-3">
    <input type="file" class="form-control" aria-label="file example" name = "file" required>
  </div>

  <div class="mb-3">
    <button class="btn btn-primary" type="submit" >Edit</button>
  </div>
</form>
{% endblock %}