

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{profile_page_data.name}}
</h1>
<p>
	{{profile_page_data.name}}
	
</p>
<p>
	{{profile_page_data.bio}}
	
</p>

<img src = "{{url_for('static', filename = profile_page_data.profile_pic_name)}}">

{% if not current_user.id == profile_page_data.user_id %}
	{% if status_following == True %}
	<a href="{{url_for('main.follow_unfollow_button', profile_id = profile_page_data.user_id)}}">Following</a>
	{% endif %}
	{% if status_following == False %}
	<a href="{{url_for('main.follow_unfollow_button', profile_id = profile_page_data.user_id)}}">Follow</a>
	{% endif %}
{% endif %}

{% if current_user.id == profile_page_data.user_id %}
<a href = "{{url_for('main.editprofile')}}">Edit Profile</a>
{% endif %}

{% endblock %}