{% extends "base.html" %}

{% block content %}
<form method="get" action = '/search'>
<div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" name = "search"/>
  <button type="submit" class="btn btn-outline-primary">search</button>
</div>
</form>


{% for profile in profiles %}
<div>
	<a href = "{{url_for('main.profile', identifier = profile.user_id)}}">{{profile.name}}</a>
	<p>{{profile.bio}}</p>
	<img src = "{{url_for('static', filename = profile.profile_pic_name)}}">
</div>

{% endfor %}


{% endblock %}